$default-color: #601ed1;
$default-gradient: #6a11cb;

a {
  color: $default-color;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;  
}

.bg-primary {
  background: $default-gradient !important;
}

.nav-item {
  i.fas {
    color: #601ed1;
  }
}

.navbar-vertical {
  .navbar-nav {
    .nav-link[data-toggle='collapse'][aria-expanded='true'] {
      &:after {
        color: #601ed1 ;
      }
    }
  }
}

.navbar-vertical {
  z-index: 10;
}

.nav-link-text {
  color: #8898aa;
}

.sidenav-header {
  background-color: #f8f9fd;
  border-bottom: 1px solid #e9ecef;

  .navbar-brand {
    padding-right: 0;
  }

  .sidenav-toggler-line {
    background-color: #601ed1;
  }
}

// modals

.modal {  
  background-color: rgba(59, 50, 74, 0.8);
  justify-content: center;
  align-items: center;

  .modal-title {
    font-size: 24px;
    font-weight: 600;    
    color: #32325d;
  }

  .modal-dialog {
    max-width: 780px;
  }
}

// forms
.form-control:disabled, .form-control[readonly] {    
  background-color: #f4f5f7;
}

.step-wrapper {
  display: flex;

  .left {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding-right: 20px;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    padding-left: 20px;
  }
}