$default-color: #601ed1;
$default-gradient: #6a11cb;

a {
  color: $default-color;
}

.bg-primary {
  background: $default-gradient !important;
}

.nav-item {
  i.fas {
    color: #601ed1;
  }
}

.navbar-vertical {
  .navbar-nav {
    .nav-link[data-toggle='collapse'][aria-expanded='true'] {
      &:after {
        color: #601ed1 ;
      }
    }
  }
}

.navbar-vertical {
  z-index: 10;
}

.nav-link-text {
  color: #8898aa;
}

.sidenav-header {
  background-color: #f8f9fd;
  border-bottom: 1px solid #e9ecef;

  .navbar-brand {
    padding-right: 0;
  }

  .sidenav-toggler-line {
    background-color: #601ed1;
  }
}